* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* *********************************** */
/* REUSED CLASS/CONTAINER */
/* *********************************** */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* *********************************** */
/* BAGIAN HEADER */
/* *********************************** */
header {
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.03);
}

.logo a {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

header a {
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

header ul {
  display: flex;
  list-style: none;
  gap: 32px;
  color: #000;
  align-items: center;
}

.book-header {
  background-color: rgb(176, 89, 176);
  color: #fff;
}

/* *********************************** */
/* BAGIAN HERO */
/* *********************************** */
.hero-section {
  padding: 200px 0 150px 0;
  background-image: url("../img/hero-background.JPG");
  background-color: #0000007e;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100vh;
}

.hero-section h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  width: 50%;
  margin-bottom: 14px;
}

.hero-section p {
  color: #fff;
  width: 50%;
  opacity: 0.7;
}

.hero-btn {
  margin-top: 36px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
}

.btn-book {
  background-color: rgb(176, 89, 176);
  color: #fff;
  margin-right: 12px;
}

.btn-destination {
  background-color: #fff;
  color: #333;
}

.icon {
  margin-right: 5px;
}

/* *********************************** */
/* BAGIAN DESTINATION */
/* *********************************** */
.destination-section {
  padding: 150px 0;
  text-align: center;
}

.destination-heading {
  margin-bottom: 56px;
}

.destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.destination-list .destination-image {
  flex: auto;
}

.destination-list img:hover {
  transform: scale(1.1);
}

.destination-box {
  width: 32%;
  margin-bottom: 30px;
}

.destination-image {
  border-radius: 4px;
  overflow: hidden;
}

.destination-image img {
  display: block;
  width: 100%;
  height: 259.55px;
  border-radius: 4px;
  transition: all 0.4s;
}

.destination-desc h3 {
  font-weight: 600;
  margin-top: 10px;
}

.destination-desc p {
  font-size: 15px;
  padding: 14px;
}

/* *********************************** */
/* BAGIAN GUIDE */
/* *********************************** */
.guide-section {
  padding: 0 0 150px 0;
  text-align: center;
}

.guide-heading {
  margin-bottom: 56px;
}

.guide-list {
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
}

.guide-image img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.guide-image p {
  font-size: 15px;
  padding: 10px;
}

.guide-section h4 {
  font-weight: 600;
  margin-top: 10px;
}

/* *********************************** */
/* BAGIAN BOOKING/FORMULIR */
/* *********************************** */
.booking-section {
  padding: 15px 0 150px 0;
  text-align: center;
}

.booking-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.booking-heading h2 {
  margin-bottom: 48px;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 18px;
  width: 100%;
  border-radius: 4px;
}

input,
textarea {
  border: 1px solid #cccccc;
}

button {
  color: #fff;
  background-color: rgb(176, 89, 176);
  border: none;
}

/* *********************************** */
/* BAGIAN FOOTER */
/* *********************************** */
footer {
  /* height: 150px; */
  width: 100%;
  background-color: rgb(120, 52, 120);
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 16px;
}

.footer-container ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding-inline-start: 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer-logo {
  margin-bottom: 12px;
}

.footer-logo a {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
